footer {
    height: 25vh;
}

.footer-filler {
    height: 24vh;
}

body {
    color: white;
}

.logo {
    height: calc(max(4vh, 4vw));
    width: auto;
    object-fit: cover;
}

body {
    min-height: 100vh;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}