.container{
    padding:10px 20%;
    padding-bottom: 100px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:30px;
}

.container .box-container .box{
    height: inherit;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: white;
    text-align: center;
    padding:40px 30px;
}

<<<<<<< Updated upstream
div .boxx{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

div .boxx:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.filter{
    display: block;
}

.hide{
    display: none;
}

.btn-secondary {
    background-color: darkblue !important ;
    margin-left: 310px;
}
=======
>>>>>>> Stashed changes
