<footer>
    <div class="content">
        <div class="left box">
        
        <div class="upper">
            <div class="topic">Contact us</div>
            <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
            </div>
            <div class="email">
            <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
            </div>
        </div>
        </div>
        <div class="middle box">
        <div><a href="#">Terms and Conditions</a></div>
        <div><a href="#"> Privacy Policy</a></div>
        <div><a href="#">Help</a></div>
        <div><a href="#">Support</a></div>
        <div><a href="Routes/about.html">About Us</a></div>
        </div>
        <div class="right box">
        <div class="topic">Subscribe to the content!</div>
        <form action="#">
            <input type="text" placeholder="Enter email address">
            <input type="submit" name="" value="Send">
            
        </form>
        </div>
    </div>
</footer>